.body-container{
    /* background-image: url('../images/bgimage.jpg'); */
    background-color: #f2f2f2;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.transpatent-bg{
    background-color: #10141e;
    height: 400px;
    width: 700px;
    box-sizing: border-box;
    box-shadow: 0px 15px 25px rgba(0,0,0,.5);
    display: flex;
    border-radius: 10px;
}
.company-brand {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
input[type=number] {
    -moz-appearance: textfield;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.login-form{
    width: 55%;
    display: flex;
    position: relative;
    top: 30%;
    align-items: center;
    flex-direction: column;
}
.dropdownOpt{
    width: 70px;
    background-color: transparent;
    color: #ffffff;
    padding:6px 8px;
    outline: none;
    border: 1px solid grey;
    border-radius: 4px;
}
.country-code-option{
    color: #000;
    outline: none;
    border: none;
}
.input-form{
    background-color: transparent;
    margin-left: 10px;
    outline: none;
    padding:6px 10px;
    border: 1px solid grey;
    color: #ffffff;
    font-size: 14px;
    border-radius: 4px;
    caret-color: #47d4ca;
}
.error-text{
    color: red;
    text-align: center;
    margin-left: 15px;
    margin-top: 2px;
}
.btn-container{
    margin-left: 12px;
    /* text-align: end; */
}
/*  */
