.site-layout .site-layout-background {
    background: #fff;
  }
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .ant-layout-header{
      height: 32px !important;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    height: 32px;
    margin: 16px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
  
  .ant-menu-horizontal > .ant-menu-item:hover {
    border-bottom: 0em !important;
    color: transparent !important;
    background-color: transparent !important;
  }
  
  .ant-menu-horizontal > .ant-menu-item-selected {
    border-bottom: 0em !important;
  }
  
  .ant-menu-horizontal > .ant-menu-item {
    border-bottom: none !important;
  }
  
  .ant-input-affix-wrapper {
    border: none !important;
  }
  
   
  
  .ant-advanced-search-form .ant-form-item,
  .ant-advanced-search-form .ant-form-item {
    display: block !important;
  }
  
  .ant-advanced-search-form .ant-form-item-control-wrapper,
  .ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1 !important;
  }
  
  .ant-form {
    max-width: none;
  }
  
  .ant-advanced-search-form {
    padding: 24px !important;
    background: #fbfbfb !important;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }

  .ant-layout {
    height: 100% !important;
    min-height: 100vh !important;
  }
  
  .ant-form-item-label > label {
    font-size: 11px !important;
  }
  
  select {
    position: relative;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    height: 32px;
    padding: 0 11px;
  }