body{
    margin: 0;
  
}
.adminland-main-wrapper{
    background-color: #ffffff;
    margin: 0;
}
.adminland-header{
    background-color: #999999;
    height: 150px;
    margin: 0;
    width: 100%;
  
}
.adminland-wrapper{
    width: 80%;
    margin: auto;
    display: flex;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.adminland-heading{
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}
.adminland-heading div{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}
.adminland-heading span{
    color: #000;
    font-size:18px;
}
.adminland-btn{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adminland-btn Button{
    margin: 10px;
}
.bodywrapper{
    display: flex;
    height: 300px;
    width: 80%;
    margin: auto;
    max-width: 1440px;
    padding: 20px 0 0 0;
}
.RM-detail{
    width: 60%;
}
.RM-contact{
    height: 280px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info{
    height: 200px;
    width: 70%;
    background-color:#ebebeb ;
}
.owner{
    font-weight: 700;
    color: #000;
    font-size: 20px;
}
.owner-oath{
    color: #a9a9a9;
    font-size: 14px;
}
.border-bottom{
    width: 80%;
    margin: auto;
    max-width: 1440px;
    border-bottom: 1px dashed #000;
}