/* .complex-main-wrapper{
    background-color: #ffffff;
    margin: 0;  
    height: 100%; 
}
.page-heading{
    text-align: center;
    font-size: 25px;
}
.add-complex-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    max-width: 1440px;
    margin: auto;

}
.left-form{
    width: 45%;
    padding: 20px;
}
 
.right-form{
    width: 40%;
    padding: 20px;
}
.add-complex-form{
    text-align: center;
}
.dropdown{
    background-color: #ffffff;
    color: #000;
    padding: 10px;
    height: 40px;
    border: 1px solid #d9d9d9;
    width: 100%;
} */

